.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.div-titulo {
    height: 250px;
	background-color: #7950f2;
	line-height: 100px;
    color: white;
}

.titulo {
    padding-top: 65px;
}

.conteudo {
    float: right;
    width: 70%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 800px;

}

.navegacao {
    width: 29.5%;
    float: left;
    background-color: #ced4da;
    height: 800px;
    border: 1px solid black;
}

.titulo-side {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 20px;
    
}

.btn {
    border: 1px solid black;
    border-radius: 7.5px;
    background-color: #ced4da;
    padding: 5px 15px;
}

.btn:hover {
    cursor: pointer;
}

.input {
    width: 70%;
    height: 25px;
    border-radius: 7.5px;
    margin-bottom: 10px;
}

p {
    margin-top: 25px;
    margin-bottom: 20px;
}